In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

sns.set(style='white')

pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv('whisky.csv')

In [4]:
df.head()

,name,href,price
0,Glenfiddich 21 Year Old,https://www.whiskyshop.com/glenfiddich-21-year...,£150.00
1,Gordon & Macphail Glen Grant 1966 45 Year Old,https://www.whiskyshop.com/gordon-macphail-gle...,£780.00
2,Gordon & Macphail Glen Grant 1962 43 Year Old ...,https://www.whiskyshop.com/gordon-macphail-gle...,"£1,499.00"
3,Linkwood 1966 Private Collection,https://www.whiskyshop.com/linkwood-1966-priva...,"£6,500.00"
4,Mortlach 1974 Private Collection,https://www.whiskyshop.com/mortlach-1974-priva...,"£1,950.00"

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477 entries, 0 to 476
Data columns (total 3 columns):
name     477 non-null object
href     477 non-null object
price    463 non-null object
dtypes: object(3)
memory usage: 11.3+ KB

In [6]:
df[df['price'].isnull()]

,name,href,price
32,Arran 1996 TWS Exclusive Single Cask #736,https://www.whiskyshop.com/arran-1996-736-the-...,NaN
51,Arran 1999 #225 The W Club Exclusive,https://www.whiskyshop.com/arran-1999-225-thew...,NaN
83,Johnnie Walker Gold Icon 200th Anniversary,https://www.whiskyshop.com/johnnie-walker-gold...,NaN
119,Macallan 50 Year Old Red Collection,https://www.whiskyshop.com/macallan-50-year-ol...,NaN
154,Macallan 1940 37 Year Old Fine & Rare,https://www.whiskyshop.com/macallan-1940-37-ye...,NaN
160,Wemyss Malts Velvet Fig 25 Year Old,https://www.whiskyshop.com/wemyss-malts-velvet...,NaN
182,Glendronach 1993 26 Year Old #7434,https://www.whiskyshop.com/glendronach-1993-26...,NaN
183,The Loch Fyne Gift Box Pick 'n' Mix,https://www.whiskyshop.com/the-loch-fyne-gift-...,NaN
214,Longrow Peated,https://www.whiskyshop.com/longrow-peated,NaN
225,GlenDronach 1992 26 Year Old The Whisky Shop E...,https://www.whiskyshop.com/glendronach-1992-26...,NaN
246,Glendronach Peated Cask,https://www.whiskyshop.com/glendronach-peated-...,NaN
453,Glenmorangie 18 Year Old,https://www.whiskyshop.com/glenmorangie-18-yea...,NaN
471,Old Fashioned Cocktail Bundle,https://www.whiskyshop.com/old-fashioned-cockt...,NaN
476,Glayva,https://www.whiskyshop.com/glayva,NaN

In [7]:
df[df['name']=='Compass Box Magic Cask']

,name,href,price
73,Compass Box Magic Cask,https://www.whiskyshop.com/compass-box-magic-cask,£142.99